body {
	font-family: "Arial", sans-serif;
	background-color: rgb(141, 141, 211);
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-device-width: 600px) {
	.fade-in {
		animation: fadeIn 0.5s ease-in-out;
		flex-direction: column;
	}

	body {
		font-family: "Arial", sans-serif;
		background-color: rgb(141, 141, 211);
		margin: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.container {
		background-color: rgb(141, 141, 211) !important;
		box-shadow: none !important;
	}

	#todo-list div {
		background-color: rgb(226, 238, 249) !important;
	}
}

.container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 800px;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

h1 {
	text-align: center;
	color: #333;
	font-size: 2em;
	margin-bottom: 20px;
}

.input-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#search {
	width: calc(100% - 100px);
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1em;
}

#add-item {
	padding: 5px 10px;
	border: none;
	background-color: #7eb3eb;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
}

#add-item:hover {
	background-color: #5a89bb;
}

#todo-list {
	flex: 1;
	overflow-y: auto;
	list-style-type: none;
	padding: 0;
}

#todo-list div {
	background-color: #fafafa;
	padding: 15px;
	margin-bottom: 10px;

	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease;
}

#todo-list span {
	flex: 1;
	margin-right: 10px;
	word-break: break-word;
}

.date {
	margin-left: 0px;
	padding: 2px 0 2px 0 !important;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.9em;
	color: #000000;
}

.edit-button,
.delete-button {
	margin-left: 10px;
	padding: 8px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.9em;
}

.edit-button {
	background-color: #86f29f;
	color: white;
}

.edit-button:hover {
	background-color: #6cd081;
}

.delete-button {
	background-color: #e1727d;
	color: white;
}

.delete-button:hover {
	background-color: #a94650;
}

/* Add animation for adding an item */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}

/* Add animation for deleting an item */
@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fade-out {
	animation: fadeOut 0.5s ease-in-out;
	pointer-events: none; /* Prevent interaction during animation */
}
